<% show_title ||= false %>
<div class="row">
  <div class="span1 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class="icon-arrow-up" id="comment_<%= comment.id %>_up_arrow"></i>
      <% end %>
    <% end %>
    <p id='comment_<%= comment.id %>_votes'>Votes: <%= comment.total_number_of_votes %></p>
    <small id='comment_<%= comment.id %>_error'></small>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class="icon-arrow-down" id="comment_<%= comment.id %>_down_arrow"></i>
      <% end %>
    <% end %>
  </div>

  <div class="span8 well">
    <% if show_title %>
      <p>Post Title: <%= link_to comment.post.title, post_path(comment.post) %></p>
    <% end %>
    <p><%= "'#{comment.body}'" %></p>
    <p> Posted by: <%= link_to "#{comment.creator.username}", user_path(comment.creator) %> <small> <%= "#{date_format_fixer(comment.created_at)}" %> </small> </p>
  </div>
</div>
