<% if @post.errors.any? %>
<%= render 'shared/error_message', object: @post %>
<% end %>

<div class="well">
  <%= form_for @post do |f|%>
  <div class="control-group">
    <%= f.label :title, "Enter a title for your post" %>
    <%= f.text_field :title %>
  </div>
  <div class="control-group">
    <%= f.label :url, "Enter the URL" %>
    <%= f.text_field :url %>
  </div>
  <div class="control-group">
    <%= f.label :url, "Type a description" %>
    <%= f.text_area :description, rows: 5 %>
  </div>
  <div class="control-group">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
      <%= box.label(class:"checkbox inline") {box.check_box(class:"checkbox") + box.text} %>
    <% end %>
  </div>
  <%= f.submit "Create Post", class: "btn btn-success" %>
  <% end %>
</div>
