<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <p>Votes: <%= post.total_number_of_votes %></p>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h3><%= link_to post.title, url_fixer(post.url) %></h3>
    <p><%= post.description %></p>
    <p>
      <small>Posted by: <%= link_to post.creator.username, user_path(post.creator) %> <%= date_format_fixer(post.created_at) %></small>
    </p>
    <small><%= link_to("Comments: #{post.comments.size}", post_path(post)) %></small>
  </div>
</div>
