<p>
  <%= render @posts.categories %>
</p>

<%= render "shared/content_title", title: @posts.title%>

<div class="row">
  <div class="span8 well">
    <p><%= @posts.description %></p>
  </div>
</div>
<small>Posted by: <%= @posts.creator.username %> at <%= @posts.created_at %></small>

<p><%= link_to "Index", posts_path %></p>
