<p>
  <%= render @post.categories %>
</p>

<%= render "shared/content_title", title: @post.title%>

<div class="row">
  <div class="span8 well">
    <p><%= @post.description %></p>
  </div>
</div>
<small>Posted by: <%= @post.creator.username %> at <%= @post.created_at %></small>

<hr />
<p><%= link_to "Index", posts_path %></p>
