<% if logged_in? && current_user.id == @post.user_id %>
  <p class="pull-right">
    <small><%= link_to "[Edit this post]", edit_post_path(@post) %></small>
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<h2> <%= link_to @post.title, url_fixer(@post.url) %> </h2>

<div class="well">
    <p><%= @post.description %></p>
    <small>Posted by: <%= link_to @post.creator.username, user_path(@post.creator) %></small>
</div>

<% if logged_in? %>
  <div class="well">
    <% if @comment.errors.any? %>
      <%= render "shared/error_message", object: @comment %>
    <% end %>

    <%= form_for [@post, @comment] do |f|%>
    <div class="control-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 3 %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<hr />

<h4>Comments:</h4>
<% @post.comments.each do |comment| %>
<%= render 'comment', comment: comment %>
<% end %>

<hr />
<p><%= link_to "Index", posts_path %></p>
