<%= render 'shared/content_title', title: "Create a new category"%>

<% if @category.errors.any? %>
  <%= render 'shared/error_message', object: @category %>
<% end %>

<div class="well">
  <%= form_for @category do |f|%>
  <div class="control-group">
    <%= f.label :name, "Enter the name of the new category" %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Category", class: "btn btn-success" %>
  <% end %>
</div>
